.navbar{
    background-color: #232931;
    padding: 0 20px;
}
.navbar_brand_logo {
    width: 300px;
    height: 50px;
}
.navbar-brand {
    padding: 20px 10px;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: #0C6EFD;
    cursor: pointer;
}
.pages {
    background-color: #232931;
}
.zaposleni{
    background-color: #232931 !important;
}
.logout {
    color: #0C6EFD;
}