.login-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #232931;
}
.login_button {
    padding: 5px 97px;
}
h3 {
    color: white;
}
.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}